<div th:fragment="add_country_form" class="modal-dialog" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title" id="exampleModalLabel">Add new country</h5>
    </div>
    <div class="modal-body">
      <form th:action="@{/addcountry}" method="post">

        <div class="form-group">
          <label for="exampleInputEmail1">Description</label>
          <input name="description" type="text" class="form-control" id="exampleInputEmail1"
            aria-describedby="emailHelp" placeholder="Description">
        </div>

        <div class="form-group">
          <label for="exampleInputEmail1">Capital</label>
          <input name="capital" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
            placeholder="Capital">
        </div>


        <div class="form-group">
          <label for="exampleInputEmail1">Code</label>
          <input name="code" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
            placeholder="Code">
        </div>


        <div class="form-group">
          <label for="exampleInputEmail1">Continent</label>
          <input name="continent" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
            placeholder="Continent">
        </div>

        <div class="form-group">
          <label for="exampleInputEmail1">Nationality</label>
          <input name="nationality" type="text" class="form-control" id="exampleInputEmail1"
            aria-describedby="emailHelp" placeholder="Nationality">
        </div>

        <button type="submit" class="btn btn-primary">Create</button>


      </form>

    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>

    </div>
  </div>
</div>